<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DL.Properties.Settings.ZjuanLibrosConnectionString"
            connectionString="Data Source=.;Initial Catalog=ZjuanLibros;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>